.main section div:nth-of-type(2) {
  padding: 0 50px 0 100px;
  margin-top: -15px;
  line-height: 25px;
  h2 {
    font-size: 3em;
    padding-bottom: 35px;
    font-family: "Poppins";
    transition: 0.5s ease;
  }
  p {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 50%;
    transition: 0.2s ease;
    span {
      color: white;
      color: $secondary;
      width: max-content;
      background-color: $secondary;
      background-color: white;
      border-radius: 0 10px 0 10px;
      padding: 5px 10px;
      margin: 5px;
      cursor: default;
      border-bottom: 2px solid transparent;
      transition: transform 0.5s ease , opacity 0.5s;
      i {
        margin-right: 5px;
        transition: color 1s ease;
      }
      &:hover {
        transform: scale(1.4);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-bottom: 2px solid black;
      }
      &:nth-of-type(1):hover i {
        color: #1763ff;
      }
      &:nth-of-type(2):hover i {
        color: #ea4335;
      }
      &:nth-of-type(3):hover i {
        color: #a083d5;
      }
      &:nth-of-type(4):hover i {
        color: #5db662;
      }
      &:nth-of-type(5):hover i {
        color: #5C0A3C;
      }
      &:nth-of-type(6):hover i {
        color: #e34f26;
      }
      &:nth-of-type(7):hover i {
        color: #3c99dc;
      }
      &:nth-of-type(8):hover i {
        color: #553c7b;
      }
      &:nth-of-type(9):hover i {
        color: #f0db4f;
      }
      &:nth-of-type(10):hover i {
        color: #0868ac;
      }
      &:nth-of-type(11):hover i {
        color: #61dbfb;
      }
      &:nth-of-type(12):hover i {
        color: #b52e31;
      }
      &:nth-of-type(13):hover i {
        color: #41b883;
      }
      &:nth-of-type(14):hover i {
        color: #cc3534;
      }
    }
    span:nth-of-type(1) {
      animation-delay: 1s;
    }
  }
  img {
    position: absolute;
    right: 0vw;
    transform: translateY(-50%);
    top: 50%;
    width: 30%;
    transition: 1s ease;
    opacity: 0;
  }
}
