.main {
  section {
    width: 90vw;
    height: calc(100vh - 200px);
    margin: auto;
    box-sizing: content-box;
    background: linear-gradient(to bottom right, #bedbff, #559ae9, #e05f7f);
    background-size: 2000% 2000%;
    background-position: 0% 0%;
    position: relative;
    top: 100px;
    border-bottom: 5px solid rgb(0, 0, 0);
    transition: all 0.5s ease;
    border-radius: 0 0 33px 33px;
    animation: sectionanimation 20s infinite;
    display: grid;
    place-items: center;
  }
}

@keyframes sectionanimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
