@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:400,500,600,700,800,900|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700|Barlow+Semi+Condensed&display=swap");
@import "navbar";
@import "main";
@import "home";
@import "about";
@import "functions";

$primary: #559ae9;
$secondary: #202020;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  width: 80vw;
  margin: auto;
}
